/* Estilos para o body */
body {
    font-family: Arial, sans-serif; /* Define a fonte padrão */
    background-color: #f4f4f4; /* Cor de fundo */
    margin: 0; /* Remove margens padrão */
    padding: 0; /* Remove preenchimento padrão */
}

/* Estilos para a navegação */
nav {
    background-color: #333; /* Cor de fundo da navegação */
    color: #fff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
}

nav ul {
    list-style: none; /* Remove marcadores de lista */
    padding: 0; /* Remove preenchimento padrão */
    margin: 0; /* Remove margens padrão */
}

nav ul li {
    display: inline; /* Exibe os itens em linha */
    margin-right: 20px; /* Espaçamento entre os itens */
}

nav ul li a {
    text-decoration: none; /* Remove sublinhado dos links */
    color: #fff; /* Cor do texto dos links */
}

/* Estilos para as seções */
section {
    background-color: #fff; /* Cor de fundo das seções */
    padding: 120px; /* Espaçamento interno */
    margin-bottom: 20px; /* Espaçamento inferior */
}

.sessao-horizontal {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sessao-horizontal > li {
    display: inline-block;
    margin-right: 80px;
}
/* Estilos para os títulos das seções */
h2 {
    border-bottom: 2px solid #333; /* Linha inferior */
    padding-bottom: 5px; /* Espaçamento inferior */
}

/* Estilos para as imagens */
img {
    max-width: 100%; /* Garante que as imagens não ultrapassem a largura da seção */
    height: auto; /* Mantém a proporção da imagem */
}

/* Estilos para os links */
a {
    color: #007bff; /* Cor dos links */
}

a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse sobre os links */
}

/* Estilos para o rodapé */
footer {
    background-color: #333; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    text-align: center; /* Alinhamento de texto */
}
